/* MISC */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(elements-used/background.png);
    background-color: #FFFCFA;
    background-size: contain;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: Temeraire;
    font-style: italic;
    font-weight: 600;
    font-size: 188px;
    line-height: 166px;
    color: #FFFCFA;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
h2 {
    font-family: Temeraire;
    font-style: italic;
    font-weight: 600;
    font-size: 120px;
    line-height: 120px;
    color: #FFFCFA;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
h3 {
    font-family: Degular, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    color: #80FF00;
}
h4 {
    font-family: Degular, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 20px;
}
h5 {
    font-family: Degular, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 88.3%;
    color: #80FF00;
}
h6 {
    font-family: Degular, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
}
.descriptionContainer {

    font-family: degular, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    padding-left: 140px;
}

/* HEADER */
header {
    height: 15%;
}
#nameContainer {
    margin-left: 20px;
    display:inline-block;
}
#nameLine {
    width: 100%;
    height: 4px;
    background: #80FF00;    
    vertical-align: middle;
}
nav {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}
#navList {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navListName {
    float: left;
}
.navListItem {
    float: right;
    margin: 0px 16px;
}
.navList a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#nameContainer:link, #nameContainer:visited, #nameContainer:active,
.navItem:link, .navItem:visited, .navItem:active {
    color: black;
    text-decoration: none;
}
#nameContainer:hover, .navItem:hover {
    color: #80FF00;
}
.highlightContainer {
    display:inline-block;
    position: relative;
}
.highlightBefore {
    text-decoration: line-through 3px;
    color: #80FF00;
}
.highlightAfter {
    position: absolute;
    top: 0;
    left: 0;
}

/* HOME PAGE */
#h1Container{
    position: relative;
    height: 85%;
    width: 100%;
}
#title {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

/* PROJECTS */
#projects {
    display:inline-block;
    margin-top: 0%;
    margin-left: 13%;
}
.projectContainer {
    display:inline-block;
    padding-bottom: 20px;
}
.blurry {
    filter: blur(3px);
}
.numberText {
    float: left;
    margin-right: 40px;
    margin-top: -9px;
}
.projectText {
    float: left;
}

/* CONTACT */
.contact {
    margin-right: 10%;
}
.contactLine1, .contactLine2, .contactLine3 {
    font-size: 188px;
    line-height: 166px;
    float: right;
}
.contactLine1 {
    margin-bottom: 20px;
}
.contactLine3 {
    margin-top: -30px;
}
.contactContainer {
    width: 30%;
    margin-left: 15%;
    margin-top: 20px;
}
.contactEllipse {
    width: 30%;
}

/* WHO AM I */
.whoAmIContainer {
    width: 100%;
    height: 550px;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    padding-top: 20px;
}
.italicContainer {
    font-family: degular, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    padding-left: 140px;
}
.normalContainer {
    font-family: Degular, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color:black;
    padding-left: 140px;
    padding-right: 140px;
}
.profilePicture {
    width: 400px;
    height: 400px;
    padding-left: 140px;
}

/* RESUME */
.timelineResume {
    font-family: degular-display, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 19px;
    color:black;
}
#nameResume {
    padding: 0;
}
.descriptionResume {
    font-family: degular, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    padding-left: 45px;
}
#descriptionResumeChange {
    padding: 0;
}
.resumeContainer {
    width: 80%;
    height: 550px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 100px;
    padding-left:140px;
}
#resumeRowTwo{
    margin-top: 240px;
    padding-left: 120px;
    padding-bottom: 50px;
}

/* PHOTOGRAPY OVERVIEW */
.backButton:hover {
    color: #80FF00;
}
.backArrow {
    height: 28px;
    margin-left: 76px;
}
#photographyContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.photographyBox {
    text-decoration: none;
}
.photographyOverview {
    width: 304px;
    height: 436px;
    object-fit: cover;
    margin-top: 80px;
    margin-left: 85px;
    margin-right: 85px;
}
.photographyTitles {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: black;
    text-decoration: none;
}

/* CREATIVE CODE */
#creativeCodeContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.creativeCodeBox {
    text-decoration: none;
}
.creativeCodeOverview {
    width: 304px;
    height: 436px;
    object-fit: cover;
    margin-top: 80px;
    margin-left: 85px;
    margin-right: 85px;
}
.creativeCodeTitles {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: black;
    text-decoration: none;
}

/* ILLUSTRATIONS */
#illustrationsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.illustrationsOverivew {
    width: 310px;
    height: 310px;
    object-fit: cover;
    padding: 80px;
}

/* EXPERIENCE OVERVIEW */
#experienceContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.experienceBox {
    text-decoration: none;
}
.experienceOverview {
    width: 310px;
    height: 310px;
    object-fit: cover;
    padding: 80px;
}
.experienceTitles {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: black;
    text-decoration: none;
}

/*PHOTOGRAPHY - SCULPTURAL BODIES*/
.sculpturalBodiesContainer {
    width: 100%;
    height: 550px;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    padding-top: 20px;
}
.sculpturalBodiesPhotography {
    width: 404px;
    height: 550px;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 55px;
}

/*PHOTOGRAPHY - MOROCCO*/
.moroccoContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
}